.container__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem 0;
    /*background-image: url('../../assets/about4bg.webp');*/
    background-image: url('../../assets/about10bg.webp');    
    background-attachment: fixed;

    color: white;

}

.about__title {
    margin: 4rem 0 0rem 0rem;

    /*
    margin-bottom: 5rem;
    margin-top: 4rem;        
    margin-left: 2rem;        
    */
}
.about__title h1{
    font-size: 45px;
    margin: 0;
}
.about__title #react-icon {
    color: #4b4a4a;    
    
    background-color: rgba(226, 226, 226, 0);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin:0rem 0.6rem 0.6rem 0;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
}
.about__item {
    
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    height: 100vh; width: 100vw;
    
   
    
}

.about__item__img {

}
.about__item__img img{

    border: 10px solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
    height: 350px;

    object-fit: contain;   
}

.about__item__text {
    width: 460px;
}
.about__item__text h1{
    
}
.about__item__text p{
    font-size: 18px;
}

@media screen and (max-width: 1024px) {    
    .container__about {
        background-position: 50% 0;
    }
    /*.about__item__img {
        transform: translateX(0);
        opacity: 1;
        visibility:visible;
    }*/
    .about__item {
        flex-direction: column;
        
    }
    .about__title {
        width: 450px;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 730px) {
    .about__item {
        justify-content: center;
        
    }
    .about__item__img img{
        height: 200px;
    }
    .about__item__text {
        width: 300px;
    }
    .about__title h1{
        font-size: 20px;
        width: 250px;
        text-align: center;
     
    }
}
@media screen and (max-width: 360px) {
    .about__item__img img{
        height: 150px;        
        
        border-width: 5px;
    }
    
    .about__item__text {
        width: 250px;
    }
    .about__title h1{
        font-size: 20px;
        width: 250px;
        text-align: center;
     
    }
}