
.container__contact {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;

   
    
    height: 100vh;
}
.contact-bg {
    position: absolute;
    top: 0; right:0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 247, 120);
    background-image: url('../../assets/wasa1.webp');
    background-size: cover;    
    background-repeat: no-repeat;
    z-index: -1;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 30% 100%);
    
}

.contact__info{
    display: flex;
    flex-direction: column;
    
    width: 500px;
}
.contact__info h1{
    display: flex;
    align-items: center;
    font-size: 45px;
}
.contact__title #react-icon-title {
    color: rgb(247, 247, 120);    
    fill: rgb(247, 247, 120);
     
    height: 60px;
    width: 60px;       
    
}
.contact__info h3{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.contact__info p{
    margin-left: 1rem;
    display: flex;
}
.contact__info #react-icon{
    color: rgb(219, 219, 26);
    height: 25px;
    width: 25px;
    margin-bottom: 0.3rem;
    margin-right: 0.2rem;
}
.contact__form{

}



@media screen and (max-width: 1024px) {    
    .container__contact {                    
        height: 100%;
    }
    .container__contact {                    
        flex-direction: column;
        
        padding-bottom: 1rem;
    }
    .contact__info{        
        margin-bottom: 2rem;
    }
    .contact__info h1{
        
    }
    .contact-bg {        
        height: 105%;     
        
    }
     
}
@media screen and (max-width: 730px) {
   
    .contact__info{        
        width: 350px;
    }
    .contact__info h1{
        font-size: 30px;
    }
    .contact__info h2{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 300px) {
    .contact__info{        
        width: 250px;
    }        
}


