/* DATASHEET DOWNLOAD BTN*/
.component__downloadBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
}
.component__downloadBar:active {
    transform: scale3d(0.98,0.98,0.98);
    
}
.component__downloadBar:active ~ .percent{
    stroke:rgb(80, 80, 73) ;
}
.downloadSvg {
    transform: rotate(-90deg);
    /*transform: scale3d(0.3,0.3,0.3);*/
    
}
.component__downloadBar #react-icon{
    position: absolute;
    

    color: rgba(99, 98, 98, 0.349);

    height: 20px;
    width: 20px;
    
    
}
  
.percent {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    
}

  